/* Menggunakan font Inter */
body {
    font-family: 'Inter', sans-serif;
}

/* Custom scrollbar untuk tampilan yang lebih bersih */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d1d5db; /* gray-300 */
    border-radius: 4px;
}
